@model ClimaAvi.Models.Planta

@{
    ViewBag.Title = "Adicionar";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Criar uma planta</h1>
</div>

@using (Html.BeginForm("Gravar", "Planta", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.CodigoPlanta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Id);
                @Html.EditorFor(model => model.CodigoPlanta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CodigoPlanta, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.NomePlanta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomePlanta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomePlanta, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.LocalPlanta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocalPlanta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocalPlanta, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.MacHost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MacHost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MacHost, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <input type="submit" />
    @Html.ValidationMessage("planta.OK", new { @class = "text-danger" })
}

